body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* BACKGROUND fixed*/

#background {
  background: url("./Star-Surfer-/images/Backgrounds/backgroundphoto.png") center/cover no-repeat;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 100vh;
  z-index: -1;
}

/* SCREENS */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden {
  display: none;
}

/* END SCREENS BOX (same size as game-box) */

.end-box {
  width: 520px;
  height: 650px;
  margin-top: 220px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border-radius: 20px;

  /* BACKGROUND GAME */
  background: url("./Star-Surfer-/images/Backgrounds/gamephoto.jpg") center/cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px; /* space between elements */
}

.end-box img {
  width: 100%;
  height: auto;
  display: block;
}


/* GAME BOX */

#game-box {
  width: 520px;
  height: 650px;
  margin-top: 220px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border-radius: 20px;
  background: url("./Star-Surfer-/images/Backgrounds/gamephoto.jpg") center/cover no-repeat;
}

/* HUD */

#hud {
  position: absolute;
  top: 10px;
  left: 12px;
  right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

#hud-score,
#hud-time {
  display: flex;
  align-items: center;
  gap: 6px;
}

#hud-score img,
#hud-time img {
  width: 120px;
  height: auto;
  pointer-events: none;
}

#score-value,
#time-value {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

/* LIVES */

#hud-lives {
  display: flex;
  gap: 6px;
}

.life {
  width: 30px;
  height: auto;
  pointer-events: none;
}

/* BUTTONS */

#start-btn,
.restart-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
}

#start-btn img {
  width: 650px;
  height: auto;
  display: block;
  pointer-events: none;
}

/* PLAYER */

#player {
  position: absolute;
  bottom: 43px;
  left: 0;
  width: 70px;
  height: auto;
  pointer-events: none;
}



/* METEOR */

.meteorite {
  pointer-events: none;
}

/* STAR */

.star {
  pointer-events: none;
}